* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Josefin Sans;
    width: 100%;
}
h2{
    color: aliceblue;
    padding: 70px 0 0 450px;
    font-family: Josefin Sans;
}
.row1 {
    background-image: url(/utils/images/bg-desktop-light.jpg);
    height: 300px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list and makes it draggable*/
ul {
    /* margin-left: 27em;
    margin-right: 20em; */
    padding: 0px;
    height: 420px;
    width: 615px;
    position: absolute;
    margin: 10px 430px;
    
  
  }
   
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    list-style: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #fff;
    font-size: 18px;
    transition: 0.2s;
    border-bottom: solid 1px;
    border-color: #eee;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #eee;
    color: rgb(190, 187, 187);
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-left: 24.5em;
    margin-right: 17.5em;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  .actions  {
      padding-left: 30px;
      border: none;
      height: 40px;
      width: 154px;
      
  }

/* Second row */
.row2 {
    background-color: #fff;
    height: 600px;
    color: #000;
    padding-left: 40em;
    padding-top: 19em;
}
.active1 {
    background-color: azure;
    margin-left: 27em;
    margin-right: 17.5em;
    margin-top: 300px;
    width: 75%;
    height: 10px;
}
.moon {
    margin-left: 64em;
    margin-top: 0px;
}
/* App responsiveness */

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .row1 {
        display: flex;
        flex-direction: column;
        order: 1;
        padding: 20px;
    }
    .row2 {
        display: flex;
        flex-direction: column;
        order: 2;
        text-align: center;
    }
    .active {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    ul {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    h2 {
        padding-left: 5px;
        padding-top: 30px;
    }
    .header {
        margin: 0;
    }

}